#u2032-4,#u2062-4,#u2062-6,#u2051-4
{
	font-family: pt-sans-n4, sans-serif;
}

#u2046-4
{
	font-family: pt-sans-n4, sans-serif;
}

#widgetu2038.frm-sub-st #u2041-4 p,#u2041-4
{
	font-family: pt-sans-n4, sans-serif;
}

#widgetu2038.frm-subm-ok-st #u2040-4 p,#u2040-4
{
	font-family: pt-sans-n4, sans-serif;
}

#u2061-4
{
	font-family: pt-sans-n4, sans-serif;
}

#u1901-4
{
	font-family: pt-sans-n4, sans-serif;
}

#u1892-4
{
	font-family: pt-sans-n4, sans-serif;
}

#widgetu1884.frm-sub-st #u1895-4 p,#u1895-4
{
	font-family: pt-sans-n4, sans-serif;
}

#widgetu1884.frm-subm-ok-st #u1902-4 p,#u1902-4
{
	font-family: pt-sans-n4, sans-serif;
}

#u1906-4
{
	font-family: pt-sans-n4, sans-serif;
}

#u1972-4,#u1925-4
{
	font-family: pt-sans-n4, sans-serif;
}

#u1916-4
{
	font-family: pt-sans-n4, sans-serif;
}

#widgetu1908.frm-sub-st #u1919-4 p,#u1919-4
{
	font-family: pt-sans-n4, sans-serif;
}

#widgetu1908.frm-subm-ok-st #u1926-4 p,#u1926-4
{
	font-family: pt-sans-n4, sans-serif;
}

#u1930-4
{
	font-family: pt-sans-n4, sans-serif;
}

#u1023-10,#u1062-6,#u1069-6,#u1081-8,#u1083-4,#u1211-6,#u1213-8,#u1214-8,#u1363-4,#u1823-4,#u1824-4,#u1825-4,#u1826-8
{
	font-family: ubuntu-n4, sans-serif;
}

#u1060-6,#u1068-6,#u1080-6,#u1082-6,#u1240-4,#u1365-4,#u1716-2,#u1717-2,#u1718-2,#u1719-2
{
	font-family: ubuntu-n5, sans-serif;
}

#u1977-4,#u1716-4,#u1716-6,#u1716-8,#u1717-4,#u1718-4,#u1719-4,#u1949-4
{
	font-family: pt-sans-n4, sans-serif;
}

#u1940-4
{
	font-family: pt-sans-n4, sans-serif;
}

#widgetu1932.frm-sub-st #u1943-4 p,#u1943-4
{
	font-family: pt-sans-n4, sans-serif;
}

#widgetu1932.frm-subm-ok-st #u1950-4 p,#u1950-4
{
	font-family: pt-sans-n4, sans-serif;
}

#u1954-4
{
	font-family: pt-sans-n4, sans-serif;
}

#u2062-2,#u2103-2
{
	font-family: pt-sans-n7, sans-serif;
}

#u1980-4,#u2073-4,#u2103-4,#u2103-6,#u2092-4
{
	font-family: pt-sans-n4, sans-serif;
}

#u2087-4
{
	font-family: pt-sans-n4, sans-serif;
}

#widgetu2079.frm-sub-st #u2082-4 p,#u2082-4
{
	font-family: pt-sans-n4, sans-serif;
}

#widgetu2079.frm-subm-ok-st #u2081-4 p,#u2081-4
{
	font-family: pt-sans-n4, sans-serif;
}

#u2102-4
{
	font-family: pt-sans-n4, sans-serif;
}

#widgetu2048_input,#widgetu2048_prompt,#widgetu2043_input,#widgetu2043_prompt,#widgetu2057_input,#widgetu2057_prompt,#widgetu1897_input,#widgetu1897_prompt,#widgetu1890_input,#widgetu1890_prompt,#widgetu1903_input,#widgetu1903_prompt,#widgetu1921_input,#widgetu1921_prompt,#widgetu1914_input,#widgetu1914_prompt,#widgetu1927_input,#widgetu1927_prompt,#widgetu1945_input,#widgetu1945_prompt,#widgetu1938_input,#widgetu1938_prompt,#widgetu1951_input,#widgetu1951_prompt,#widgetu2089_input,#widgetu2089_prompt,#widgetu2084_input,#widgetu2084_prompt,#widgetu2098_input,#widgetu2098_prompt
{
	font-family: pt-sans, sans-serif;
}

